{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Pastelaria</title>
    <link rel="shortcut icon" href="{% static 'pastel.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static "estilos.css" %}">
  </head>
  <body>
    {% block content %}

    {% endblock %}


  </body>
</html>
