{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h3>Pasteis</h3>
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Farinha</th>
                <th>Recheio</th>
                <th>Editar</th>
                <th>Deletar</th>

            </tr>
            {% for pastel in object_list %}
            <tr>
                <td>{{ pastel.nome }}</td>
                <td>{{ pastel.farinha }}</td>
                <td><img src="{{ pastel.get_img_recheio.url }}">{{ pastel.recheio }}</td>
                <td><a href="{% url 'editar_pastel' pastel.id %}"><button class="btn btn-primary"></button></a></td>
                <td><a href="{% url 'deletar_pastel' pastel.id %}"><button class="btn btn-danger"></button></a></td>
            </tr>
            {% endfor %}
        </table>
        <p><a href="{% url 'criar_pastel' %}">Criar Novo Pastel</a></p>
        <p><a href="{% url 'listar_recheios' %}">Listar Recheios</a></p>
        <hr />
    </div>
    <div align="center"> 
        <a id="logout" href="logout">Sair</a>
    </div>
{% endblock %}