{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h3>Recheios</h3>
        <table class="table table-striped">
            <tr>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Editar</th>
                <th>Deletar</th>

            </tr>
            {% for recheio in object_list %}
                <tr>
                <td><img src="{{ recheio.img_recheio.url }}"></td>
                <td>{{ recheio.nome }}</td>
                <td>{{ recheio.preco }}</td>
                <td><a href="{% url 'editar_recheio' recheio.id %}"><button class="btn btn-primary"></button></a></td>
                <td><a href="{% url 'deletar_recheio' recheio.id %}"><button class="btn btn-danger"></button></a></td>
                </tr>
            {% endfor %}
        </table>
        <p><a href="{% url 'criar_recheio' %}">Criar Novo Recheio</a></p>
        <p><a href="{% url 'listar_pasteis' %}">Voltar</a></p>
        <hr />
    </div>
{% endblock %}